.form-group{
    width: 50%;
}

.form-validations{
    padding: 20px;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

}

form{
    width: 50%;
    margin: auto;
}