
<div class="container m-5">

    <div class="colors">
         
        <div *ngFor="let color of colorsArr">
               <!-- <h6>{{color | uppercase}}</h6> -->
               <!-- <h6>{{color | lowercase}}</h6> -->
               <h6>{{color | pipesEx}}</h6>
        </div>
        
        <div>
             <!-- <h1>Date::{{date | date:'short'}}</h1> -->
          <!-- <h1>Date::{{date | date:'medium'}}</h1> -->
          <!-- <h1>Date::{{date | date:'long'}}</h1> -->
          <!-- <h1>Date::{{date | date:'full'}}</h1> -->
         <!-- <h1>Date::{{date | date:'shortDate'}}</h1> -->
        <!-- <h1>Date::{{date | date:'mediumDate'}}</h1> -->
         <!-- <h1>Date::{{date | date:'dd/mm/yyyy'}}</h1> -->
         <!-- <h1>Date::{{date | date:'yyyy'}}</h1> -->
         <!-- <h1>Date::{{date | date:'dd'}}</h1> -->
         <!-- <h1>Date::{{date | date:'MMM'}}</h1> -->







        </div>
    </div>


</div>