  <!-- <h1 appCustom>Hello World</h1>
  <h1 appCustom>Hello World</h1>
  <h1 appCustom>Hello World</h1>
  <h1 appCustom>Hello World</h1>
  <h1 appCustom>Hello World</h1> -->

<!-- <app-home></app-home> -->
<!-- <app-eventbinding></app-eventbinding> -->
<!-- <app-twowaybinding></app-twowaybinding> -->
<!-- <app-ngfor-ex></app-ngfor-ex> -->
<!-- <app-ngif-else-ex></app-ngif-else-ex> -->

<!-- <app-ngswitch-ex></app-ngswitch-ex> -->
<!-- <app-ngstyle-ex></app-ngstyle-ex> -->
<!-- <app-ngclass-ex></app-ngclass-ex> -->
<!-- <app-templatedriven></app-templatedriven> -->
<!-- <app-form-validations></app-form-validations> -->
<app-navbar></app-navbar>
<app-reactive-forms></app-reactive-forms>
<router-outlet></router-outlet>
