.form-validations{

    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    
    padding: 10px;
    width: 50%;
    
}

.valid{
    border-left:4px solid green;
}

.invalid{
    border-left: 4px solid red;
}